
.idea/django-client-tracker.iml
.idea/misc.xml
.idea/modules.xml
.idea/vcs.xml
.idea/workspace.xml
build/lib/clienttracker/__init__.py
build/lib/clienttracker/admin.py
build/lib/clienttracker/apps.py
build/lib/clienttracker/models.py
build/lib/clienttracker/static/js/tracer.js
build/lib/clienttracker/tests.py
build/lib/clienttracker/urls.py
build/lib/clienttracker/views.py
dist/django-client-tracker-0.0.1.tar.gz
dist/django-client-tracker-0.1.tar.gz
dist/django_client_tracker-0.0.1-py3-none-any.whl
django_client_tracker.egg-info/PKG-INFO
django_client_tracker_SHUBHAMKHANDALKAR.egg-info/dependency_links.txt
django_client_tracker_SHUBHAMKHANDALKAR.egg-info/PKG-INFO
django_client_tracker_SHUBHAMKHANDALKAR.egg-info/SOURCES.txt
django_client_tracker_SHUBHAMKHANDALKAR.egg-info/top_level.txt
extra/django-client-tracker-0.1.tar.gz
extra/pypi.txt
dist/django-client-tracker-0.1.tar.gz
django_client_tracker.egg-info/PKG-INFO
django_client_tracker.egg-info/PKG-INFO
dist/django-client-tracker-0.1.tar.gz
django_client_tracker.egg-info/PKG-INFO
dist/django-client-tracker-0.1.tar.gz
django_client_tracker.egg-info/PKG-INFO
